@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}


html body {
  font-size: 16px; 
  font-family: "微软雅黑";
  color: black;
  width:100%;
  height:100%;
}
i {
  color: #green;
  font-size: 12px;
}
a {
  display:inline-block;
  text-decoration: none;
  color: black;
  
 width:100%;
  margin:0;
  padding:0;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}
li{
margin:0;
padding:0;
}
div>ul>li>a{
	/**border-top:1px solid green;
	border-bottom:1px solid green;
	box-sizing:border-box;
	**/
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #c8c8cb;
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #efeff0, #fafafa);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #efeff0, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#efeff0')";
  border-left: none;
  color: #444;
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.2em;
   padding: .25em .25em .25em .25em; 
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  /*Change the arrow direction if the item is collapsed*/
  box-sizing:content-box;;
	
}

div ul li ul a {
  line-height:2em;
}

div>ul>li>ul>li>a{
	padding-left:10px;
}
div>ul>li>ul>li>ul>li>a{
	padding-left:25px;
}

div>ul>li>ul>li>a:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f22d";
}


div>ul>li>ul>li>ul>li>a:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f068";
}



.s-side {
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background-color: #EFEFEF;
 /* box-shadow: 0px 0px 10px #313131; */
  
  border-right:1px solid #c8c8cb;
  
  overflow-y:auto;
}
a+ul {
	display:none;
}
a>span {
	padding-right:1em;
	float:right;
   
	margin:0.5em 0 auto 0; 
}

div a:hover{
	background-color:green;
}








