@using HProject.Application
@model List<HProject.Application.Menu>


<ul>
    <li>
        <a href="#">
            <i class="fa fa-home"></i>
            首页
        </a>
    </li>

    <li>
        <a class="submenu">
            <i class="fa fa-info"></i>
            IT
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>
                <a class="submenu">

                    IT设备领用
                    <span class="fa fa-caret-right"></span>
                </a>
                <ul>
                    @foreach (var menuItem in Model)
                    {
                        <li>
                            <a href="@menuItem.Hyperlink">@menuItem.Name</a>
                        </li>
                    }


                </ul>
            </li>
            <li>
                <a class="submenu">

                    二级菜单
                    <span class="fa fa-caret-right "></span>
                </a>
                <ul>
                    <li>
                        <a href="#">三级导航</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">

                    二级导航
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a class="submenu">
            <i class="fa fa-superpowers"></i>
            Test
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>

                <a href="#">

                    22二级导航
                </a>
            </li>
            <li>

                <a href="#">

                    22二级导航
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a class="submenu">
            <i class="fa fa-paper-plane"></i>
            Test_1
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>
                <a class="submenu">

                    33二级导航
                    <span class="fa fa-caret-right"></span>
                </a>
                <ul>
                    <li>
                        <a>

                            33三级导航
                        </a>
                    </li>
                    <li>
                        <a>

                            33三级导航
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a>

                    33二级导航
                </a>
            </li>
            <li>
                <a>

                    33二级导航
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a class="submenu">
            <i class="fa fa-gg"></i>
            Test_2
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>
                <a>

                    44二级导航
                </a>
            </li>
            <li>
                <a>

                    44二级导航
                </a>
            </li>
            <li>
                <a>

                    44二级导航
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a class="submenu">
            <i class="fa fa-life-ring"></i>
            Test3
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>
                <a>

                    55二级导航
                </a>
            </li>
            <li>
                <a>

                    55二级导航
                </a>
            </li>
            <li>
                <a>

                    55二级导航
                </a>
            </li>
        </ul>
    </li>

    @if(@HttpContext.Current.User.IsInRole("Admin"))
    {

    <li>
        <a class="submenu">
            <i class="fa fa-gear"></i>
            系统管理
            <span class="fa fa-caret-right"></span>
        </a>
        <ul>
            <li>
                <a href="/Account/GetUsers">

                   用户列表
                </a>
            </li>
            <li>
                <a href="/Account/CreateUser">

                    新建用户
                </a>
            </li>
            
        </ul>
    </li>

    }

</ul>